<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>
<%= render 'books/error_messages', model: @book %>
	<div class="field">
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :body, "Body" %>
		<%= f.text_area :body %>
	</div>

	<div class="action">
		<%= f.submit 'Update Book' %>
	</div>

<% end %>


<%= link_to "Show", book_path %>
|
<%= link_to "Back", books_path %>